@import "../../App.scss";

.newsletter {
  display: flex;
  justify-content: center;

  height: 40vh;
  margin-bottom: 80px;
  .container {
    width: 1024px;
    background-image: url("../../../public/images/ftr.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      flex-direction: column;
      width: 90vw;
    }

    .middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;

      h1 {
        @include mobile {
          font-size: 20px;
        }
      }

      form {
        margin-top: 10px;
        border-radius: 20px;
        padding-left: 10px;
        background-color: white;
        input {
          border: none;
          outline: none;
        }
        button {
          border: none;
          border-radius: 20px;
          background-color: black;
          color: white;
          padding: 10px;
        }
      }
    }
  }
}
