@import "../../App.scss";
.Laptop {
  height: 100vh;
  background-image: url("../../../public//images/lbg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    height: max-content;
    margin-top: 30%;
    padding: 60px 0;
  }
  @include tablet {
    flex-direction: column;
    height: max-content;
    padding: 60px 0;
  }
  .left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 7rem;
    z-index: 999;
    margin-right: -60px;

    @include mobile {
      gap: 3rem;
      margin-right: 0px;
    }
    @include tablet {
      margin-right: 0;
      gap: 3rem;
    }

    .ol {
      color: rgba(108, 108, 108, 1);
      padding: 10px;
      width: 400px;
      text-align: center;
      background-color: wheat;
      border-radius: 20px;
      z-index: 999;
      font-weight: 600;
      font-size: 30px;
      @include mobile {
        width: 300px;
        font-size: 20px;
      }
    }
  }

  .middle {
    flex: 1;
    z-index: 99;
    img {
      width: 600px;
      height: 600px;
      @include mobile {
        width: 350px;
        height: 350px;
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7rem;
    z-index: 999;
    margin-left: -60px;

    @include mobile {
      gap: 3rem;
      margin-left: 0px;
    }

    @include tablet {
      margin-left: 0;
      gap: 3rem;
      padding-bottom: 40px;
    }

    .ol {
      color: rgba(108, 108, 108, 1);
      padding: 10px;
      width: 400px;
      text-align: center;
      font-weight: 600;
      background-color: wheat;
      border-radius: 20px;
      z-index: 999;
      font-size: 30px;
      @include mobile {
        width: 300px;
        font-size: 20px;
      }
    }
  }
}
