.navbar2 {
  z-index: 99;
  height: 60px;
  padding: 0.5rem 1.5rem;
  position: relative;
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-left {
      display: flex;
      align-items: center;
      color: white;
      padding: 15px;

      .p-ar {
        font-size: 40px;
      }
    }
    .nav-right {
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 17px;
      font-family: sans-serif;

      .nav-option {
        cursor: pointer;
        border-bottom: 4px solid white;
        &:hover {
          border-bottom: 4px solid rgba(252, 198, 89, 1);
        }

        &.log-in {
          margin-left: 5rem;
        }
      }
      .nav-wallet {
        padding: 5px 45px;
        font-weight: 600;
        color: white;
        background-color: rgba(49, 35, 80, 1);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        img {
          width: 30px;
          height: 30px;
        }
        cursor: pointer;
      }
      button {
        background-color: rgba(49, 49, 49, 1);
        color: white;
        border-radius: 5px;
        padding: 8px 15px;
        cursor: pointer;
        border: none;
      }
      .nav-menu {
        .i-menu {
          font-size: 35px;
          cursor: pointer;
          color: white;
        }
      }
    }
  }
  .nav-card {
    width: 300px;
    min-height: 500px;
    background-color: rgb(249, 249, 249);
    position: absolute;
    z-index: 9999;
    right: -320px;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    &.active {
      right: 0;
      top: 0;
    }
    .top {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 5px;
      .cx {
        cursor: pointer;
      }
    }
    .nav-user-info {
      cursor: pointer;
      background-color: white;
      padding: 15px 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 50px;
      margin-bottom: 20px;
      .left {
        img {
          width: 70px;
          height: 70px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .mob-info {
          color: rgba(158, 158, 158, 1);
        }
        .ref-code {
          font-size: 14px;
        }
      }
    }
    .nav-quiz-info {
      display: flex;
      align-items: center;
      gap: 5px;
      .left {
        flex: 1;
        background-color: rgba(244, 155, 81, 1);

        padding: 10px 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
      }
      .right {
        flex: 1;
        background-color: rgba(252, 198, 89, 1);
        padding: 10px 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
      }
    }
    .nav-menu-options {
      padding-left: 18px;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 18px;
      .menu-option {
        cursor: pointer;
        width: 100%;
        padding: 5px;
      }
    }
  }
}
