.navbar2 {
  // background: linear-gradient(180deg, #5b4ee2 0%, #5b4ee2 100%);
  z-index: 99;
  height: 60px;
  padding: 0.5rem 1.5rem;
  position: relative;
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-left {
      display: flex;
      align-items: center;
      color: white;

      .p-ar {
        font-size: 40px;
      }
    }
  }
}
