.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../../public/images/bg.png");

}
.join-container{
    display: flex;
    height: 100vh; 
    overflow: auto; /* Enable scrolling */
    .left-part{
        margin: 2rem;
        flex-basis: 1;
        color: white;
        width: 27%;
        
        .join-h3{
            font-size: 2rem;
            border-left: 8px solid  #FCC659;
            padding-left: .7rem;
            margin-block: 1rem ;
            p{
                font-size: 1.2rem;
                margin-bottom: 1.2rem;
            }
        }

        .btn-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            // gap: 2rem; 
           
            .btn{   
                margin-block: 2rem;
                background-color: rgb(233, 233, 233);
                padding: 2rem 3rem;
                width: 100%;
                color: #131311;
                border: 6px solid rgb(229, 226, 226);
                cursor: pointer;
                border-radius: 10px;
                font-size: 1.4rem;
                font-weight: 500;
            }
            .btn:hover{
                border: 6px solid #FCC659;
            }
        }
    }

    .right-part{
        margin: 2rem;
        flex-basis: 2;
        width: 70%;
        .join-h4{
            color: white;
            font-size: 1.5rem;
        }
        
    }
}   

 