@import "../../App.scss";
.header {
  background-image: url("../../../public/images/bgh.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;

  .header-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    // width: 1024px;

    .header-top {
      margin-top: 50px;
      padding: 20px;
      font-family: sans-serif; //poppins
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-weight: 700;
        font-size: 2.8rem;
        @include mobile {
          font-size: 1.5rem;
        }

        span {
          color: rgba(252, 198, 89, 1);
        }

        &.header-top-wallet {
          margin-bottom: 20px;
        }
      }
      p {
        margin-bottom: 40px;
        font-weight: 500;
        @include mobile {
          text-align: center;
        }
      }
      button {
        cursor: pointer;
        background-color: rgba(49, 49, 49, 1);
        color: white;
        border-radius: 5px;
        padding: 10px 40px;
        border: none;
      }
    }
    .header-middle {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 80%;
        height: 80%;
        @include mobile {
          width: 60%;
          height: 80%;
        }
      }
    }
    .header-bottom {
      width: 80%;
      display: flex;
      align-items: flex-start;
      // justify-content: space-evenly;
      gap: 20px;
      z-index: 9999;

      @include mobile {
        flex-direction: column;
        align-items: center;
        width: max-content;
      }

      .header-bottom-card {
        background-color: white;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        border-radius: 20px;
        box-shadow: 10px 4px 26px 0px rgba(0, 0, 0, 0.171);
        box-shadow: -11px 4px 33px 0px rgba(0, 0, 0, 0.315);
        padding: 10px;
        height: 300px;

        @include tablet {
          width: 30%;
        }

        margin-bottom: 40px;
        gap: 30px;
        .header-bottom-card-cnt {
          z-index: 9999;
          display: flex;
          flex-direction: column;
          gap: 10px;
          img {
            width: 100px;
            height: 100px;
          }
          h3 {
            font-weight: 600;
            font-size: 32px;
          }
          p {
            word-spacing: 2px;
            font-size: 20px;
          }
          .card-arrow {
            display: flex;
            justify-content: flex-end;
            .a1 {
              background-color: #fcc659;
              border-radius: 50%;
              padding: 10px 12px;
              color: white;
            }
          }
        }
      }
      .header-bottom-desc {
        flex: 1;
        width: 23%;
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-right: 3px solid rgba(252, 198, 89, 1);
        height: max-content;

        @include tablet {
          width: 25%;
          font-size: 14px;
        }

        h2 {
          font-size: 32px;
          span {
            color: #fcc659;
          }
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}
