.PPcard {
  display: flex;
  flex-direction: column;
  width: 1024px;
  align-items: flex-start;

  .PPcard-top {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
      padding: 10px 20px;
      border-radius: 20px;
      border: 1px solid rgba(252, 191, 87, 1);
      background-color: white;

      &.active {
        border: none;
        background-color: rgba(252, 191, 87, 1);
        color: white;
      }
    }
  }
}
