.wallet-container {
  background: transparent;
  overflow-x: hidden;
  background: linear-gradient(180deg, #5b4ee2 0%, #ae79b6 100%);

  .wallet-wrapper {
    width: 100%;
    // height: 800px;
    // background-image: url('./frame.png') ;
    background: linear-gradient(180deg, #5b4ee2 0%, #ae79b6 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    .wallet-container2 {
      background-color: aliceblue;
      border-radius: 10px;
      height: 600px;
      width: 1300px;
      // padding: 3rem;

      display: flex;
      gap: 1rem;
      .left-part {
        flex-basis: 1;
        padding: 2rem;
        width: 20%;
        margin-top: 2rem;
        h5 {
          font-size: 1.4rem;
          height: 1.8rem;
          padding: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          margin-bottom: 10px;
          cursor: pointer;
        }
        // h5:hover{
        //     background-color: rgb(51, 51, 51);
        //     color: rgb(234, 231, 231);
        // }
        .active {
          background-color: rgb(51, 51, 51);
          color: rgb(234, 231, 231);
        }
      }
      .center-part {
        flex-basis: 2;
        width: 30%;
        padding: 1rem;
        margin-top: 5rem;
        background-color: #fcc659;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40%;

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 1.5rem;
        }
        h2 {
          margin-block-start: 0;
          font-size: 2rem;
          font-weight: 700;
        }
      }
      .right-part {
        flex-basis: 2;
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-top: 4rem;
        h4 {
          margin-bottom: 0.5rem;
        }
        input {
          display: block;
          padding: 8px 16px;
          width: 92.5%;
          border: 1px solid rgb(197, 193, 193);
          border-radius: 4px;
          &:focus {
            outline: none !important;
            border: 1px solid rgb(0, 34, 255);
            box-shadow: 0 0 10px #719ece;
          }
        }

        button {
          margin-top: 20px;
          padding: 10px 40px;
          background-color: rgb(51, 51, 51);
          color: white;
          cursor: pointer;
        }
        button:hover {
          background-color: rgb(72, 72, 72);
        }
      }

      .right-part2 {
        flex-basis: 4;
        width: 50%;
        padding: 2rem;
        overflow:auto ;
        overflow-x: hidden;
        .transaction-conatiner {
          margin-top: 2rem;
          // background-color: #4e98e2;
          border: 3px solid rgb(0, 145, 255);
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          border-radius: 4px;
          padding: 1rem .1rem 1rem 1rem;
          .left {
            padding-left: 1rem;
            h4 {
              margin-bottom: 0;
            }
            p {
              color: rgb(157, 153, 153);
            }
          }
          .right {
            padding-right: 2rem;
            color: green;
          }
        }
      }
    }
  }
}
